<div class="container">
  <div class="container-fluid">
    <input type="text" class="form-control" />
  </div>
  <div class="container-fluid">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page">
          <a href="#">Create</a>
        </li>
      </ol>
    </nav>
  </div>
  <br />
  <div class="row">
    <div
      class="card"
      *ngFor="let car of animeCharacters"
      style="width: 18rem; margin-right: 30px"
    >
      <div class="card-header bg-transparent">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-secondary">Edit</button>
          <button type="button" class="btn btn-secondary">Delete</button>
          <button type="button" class="btn btn-secondary">Share</button>
        </div>
      </div>
      <img
        src="http://localhost:8080/v1/photo/character/{{ car.idAnime }}"
        class="card-img-top"
      />
      <div class="card-body">
        <h5 class="card-title">{{ car.animeName }}</h5>
        <span class="badge badge-pill badge-primary">{{ car.category }}</span>
      </div>
    </div>
  </div>
</div>
